<div class="container">
  <div class="d-flex justify-content-center align-items-center mt-2  navec">
    <a class="nav-a" routerLink="/standalone" routerLinkActive="a-active">standalone</a>
    <a class="nav-a" routerLink="/if-for-switch"  routerLinkActive="a-active">&#64; if / for / switch </a>
    <a class="nav-a" routerLink="/defer"  routerLinkActive="a-active">&#64; defer </a>
    <a class="nav-a" routerLink="/signals"  routerLinkActive="a-active"> signals </a>
    <a class="nav-a" routerLink="/signals-work"  routerLinkActive="a-active"> signals-work </a>
    <a class="nav-a" routerLink="/movie"  routerLinkActive="a-active"> movie </a>
  </div>
  <router-outlet></router-outlet>
</div>



